* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --pading: 5px 5px;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b78d0;
    box-sizing: border-box;
    height: 100vh;
}


.global {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    box-sizing: border-box;
    flex-direction: column;
    padding: 50px 50px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.home-page {
    position: relative;
    width: 2.5rem;
    left: -55%;
    bottom: 2rem;
}

.parag {
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
}

.first-last {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.first-last input {
    width: 150px;
    padding: var(--pading)
}

.em-pas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.em-pas input {
    padding: var(--pading);
}

.sign {
    border: 2px solid #0b78d0;
    color: #ffffff;
    background-color: #0b78d0;
    border-radius: 5px;
    padding: 0 80px;
    width: 300px;
    cursor: pointer;
    padding: var(--pading);
}

a {
    text-decoration: none;
    text-align: center;
}

.links-visited:visited {
    color: #0b78d0;
}